.App {
    text-align: center;
    max-height: 100vh;
    padding: 60px 0 80px 0;
    overflow-y: scroll;
}

.header  {
    z-index: 100;
}

.previewimg  {
    max-height: 300px;
}

.main  {
    min-height: 90vh;
    max-width: 400px;
}

.shorttxt  {
    font-size: 14px;
}

.vshorttxt  {
    font-size: 12px;
}